body {
  background-color: rgb(0, 0, 0);
}
/* logo */
.logo {
  width: 180px;
  margin-top: 30px;
}
/* navbar */
.nav-link {
  color: white;
}
.navbar-nav .nav-link.active {
  color: white;
}
.navbar-nav {
  margin: 0 auto;
  margin-top: 18px;
  font-size: 18px;
  gap: 25px;
}
.img1-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}
/* card img */
.cards {
  margin-top: 140px;
}
.photos img {
  width: 25%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.p1 {
  padding-left: 80px;
  margin-top: -70px;
  filter: drop-shadow(1px 11px 4px #000);
}
.p3 {
  margin-top: -50px;
  padding-left: -40px;
}
.p4 {
  margin-left: 70%;
  margin-top: -264px;
}
/* about */
.img2 {
  margin-top: 70px;
  margin-left: 25%;
}
.text-1 {
  margin-top: -400px;
  font-weight: 600;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin-left: 33%;
  color: #fcfcfc;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.text-2 {
  font-weight: 600;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin-left: 33%;
  color: #fcfcfc;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.text-3 {
  font-weight: 600;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin-left: 33%;
  color: #fcfcfc;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.text-4 {
  font-weight: 600;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  margin-left: 33%;
  color: #fcfcfc;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.bio {
  font-weight: 600;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: border-box;
  border-bottom: solid white 2px;
  margin-left: 33%;
  color: #fcfcfc;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: inherit;
}
.icons {
  display: flex;
  flex-direction: column;
  margin-top: -24.9%;
  margin-left: 240px;
  gap: 70px;
}
/* PORTFOLIO */
.PORTFOLIO {
  margin-top: 350px;
  margin-bottom: 100px;
  border: none;
}
.PORTFOLIO2 {
  margin-top: 40px;
  margin-bottom: 100px;
  border: none;
}
.PORTFOLIO-text {
  margin-bottom: 70px;
  color: #fcfcfc;
}
